@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

.header {
    height: 56px;
    width: 100%;
    box-shadow: 0 0 10px #dddddd;
    background-color: white;
    position: fixed;
    top: 0;
    opacity: 0.9;
}

.container {
    max-width: 980px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}

.header-left {
    float: left;
}

.header-logo {
    height: 40px;
    margin-top: 8px;
}

.header-right {
    float: right;
}

.header-right a {
    line-height: 56px;
    color: #5a5c5f;
    margin-left: 5px;
    font-size: 16px;
    padding: 16px 5px;
}

.header-right a:hover {
    background-color: #fe2e2e;
    transition: background-color 0.275s;
    border-radius: 30px;
}

.clear {
    clear: both;
}

.main-visual {
    height: 750px;
    padding-top: 140px;
    padding-bottom: 100px;
    background-image: url("PictureSource/980245_426023737515048_237812236_o_426023737515048.jpg");
    background-size: cover;
    color: #f5f5f5;
    text-align: center;
    text-shadow: 2.5px 2.5px #ff0000;
}

.top-title {
    font-size: 64px;
    margin-bottom: 10px;
    font-family: serif;
}

.top-subtitle {
    font-size: 33px;
    margin-bottom: 60px;
    font-weight: 100;
}

.top-text {
    opacity: 0.9;
}

.main {
    padding:80px 0;
    color: #5a5c5f;
    text-align: center;
}

.main h2 {
    margin-bottom: 25px;
}

.main-image {
    width: 450px;
    margin-bottom: 25px;
    box-shadow: 2px 4px 10px 5px #848484;
    border-radius: 100px;
}

.main h3 {
    margin-bottom: 10px;
}

.footer {
    height: 60px;
    background-color: #2f3a44;
    color: #e8e8e8;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
    padding-top: 50px;
}

.footer-left p {
    margin-bottom: 8px;
}
